.Security{
    color: red;
}
hr{
    color: red;
    font-family: 200px;
}
.call{
    color:red
}
.aver{
    color:rgba(7, 123, 190, 0.884)
}
.money{
    color: red;
}
.upco{
    color: red;
}
.bond{
    float: left;
    color: green;
    font-weight: bold;
    padding-right: 30px;
}
.date{
    float: left;
    padding-right: 30px;
}

.hr{
    color: black;
}
.namber{
    background-color: orangered;
}
.hr{
    color: black;
}
.hr{
    color: black;
}
.emer{
    color: red;
    font-weight: bold;
}
.hr{
    color: black;
}
.sidebar{
    background-color: aliceblue;
}